<a href="https://colab.research.google.com/github/karlinnn/ML-Practice/blob/main/Understanding_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

## **1. How Big is the Data!!**

In [ ]:
df.shape

(3000, 9)

### **2. How Does the Data look like?**

In [ ]:
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
850,-118.10,34.17,48.0,1111.0,229.0,421.0,202.0,3.2813,268100.0
1086,-122.08,37.71,35.0,2211.0,350.0,1004.0,365.0,5.4639,238600.0
1975,-118.08,33.82,26.0,4259.0,588.0,1644.0,581.0,6.2519,345700.0
1948,-118.50,34.16,34.0,3547.0,523.0,1187.0,500.0,7.1390,424000.0
2827,-119.81,34.47,26.0,4382.0,618.0,1728.0,587.0,7.4734,432200.0

### **3. What's the datatype of Cols?**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

### **4.Are there any missing values?**

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

### **5.How Does the Data look mathematically?**

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

### **6. Are there Duplicate Values**

In [ ]:
df.duplicated().sum()

np.int64(0)

### **7. How's the correlation between columns**

In [ ]:
df.corr()['population']

longitude             0.111572
latitude             -0.117318
housing_median_age   -0.299888
total_rooms           0.838867
total_bedrooms        0.856387
population            1.000000
households            0.895530
median_income         0.032361
median_house_value   -0.001192
Name: population, dtype: float64